


<div class="login-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 mx-auto">
                <div class="login-wrap password-form">
                    <div class="login-header">
                        <h3>Changer Votre mot de passe</h3>
                    </div>
                    <!-- Login Form -->
                    <form (ngSubmit)="onResetPassword()" [formGroup]="form">
                        <div class="form-group row   input-group-sm mb-3">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Mot de passe</label>
                            <div class="col-sm-9">
                              <input formControlName="motdepasse" type="password" class="form-control" id="inputPassword" placeholder="Mot de passe">
                            </div>
                        </div>
                        <button class="btn btn-primary w-100 login-btn" type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
